h-font
  font-style normal
  line-height 150%

h
  &1
    @extend h-font
    font-size 24px
    font-weight bold

  &2
    @extend h-font
    font-size 18px
    font-weight normal

  &3
    @extend h-font
    font-size 16px
    font-weight bold

  &4
    @extend h-font
    font-size 14px
    font-weight bold

  &5
    @extend h-font
    font-size 14px
    font-weight normal

  &6
    @extend h-font
    font-size 14px
    font-weight 300
